#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Common rules
export PYBUILD_NAME=impacket
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# ignore tests/SMB_RPC/test_smbserver.py test until upstream fix py3.13 build.
export PYBUILD_TEST_ARGS=-m "not remote" --ignore=tests/SMB_RPC/test_smbserver.py

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Drop upstream installed files
	rm -rf debian/python*-impacket/usr/share/doc/impacket

# Don't compress .py file
override_dh_compress:
	dh_compress -X.py
